<ul class=nav>
    <li><a href="{{handler.webroot}}/">Home</a></li>
    <li><a href="{{handler.webroot}}/comiclist/browse">Library</a></li>
    <li><a href="{{handler.webroot}}/#main_search">Search</a></li>
    <li><a href="{{handler.webroot}}/folders/browse">Folders</a></li>
    <li><a href="{{handler.webroot}}/entities/browse/">Entities</a></li>
    <li><a href="{{handler.webroot}}/configure">Config</a></li>
    <li><a href="{{handler.webroot}}/control">Control</a></li>
    <li><a href="{{handler.webroot}}/log">Logs</a></li>    
    <li><a href="{{handler.webroot}}/about">About</a></li>
    <li><a href="{{handler.webroot}}/apihelp.html">API Info</a></li>
</ul>
