
<!DOCTYPE html>
<html lang="en" ng-app="comicstreamer">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Comicstreamer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="/static/css/bootstrap-cyborg.min.css" rel="stylesheet" />
        
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/bootstrap/img/favicon.ico" />
        <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png" />

        
        <style type="text/css">
            body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}
hr {
   margin: 0;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }

  .navbar .navbar-form {
    width: 185px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media(min-width:769px) {
  .navbar .navbar-form {
    width: 250px;
  }
}
.navbar .navbar-form {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-heading-condensed {
  padding: 5px, 8px;
}
        </style>
    </head>

    <body ng-controller="MainCtrl as c">
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-brand hidden-xs">ComicStreamer</div>
                  <div class="navbar-brand visible-xs">CS</div>
                  <form class="navbar-form pull-left" role="search">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="c.search" placeholder="Search">
                      <div class="input-group-btn">
                          <button type="submit" ng-click="c.load()" class="btn btn-default">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div><!--/.navbar -->

<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
          <br />
          <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading panel-heading-condensed">Characters</div>

              <!-- Table -->
              <table class="table table-condensed">
                <tr>
                    <td><a href="#">Donald Duck</a></td>
                    <td><span class="badge">548</span></td>
                </tr>
                  <tr>
                    <td><a href="#">Donald Duck</a></td>
                    <td><span class="badge">548</span></td>
                </tr>
                  <tr>
                    <td><a href="#">Donald Duck</a></td>
                    <td><span class="badge">548</span></td>
                </tr>
              </table>
          </div>
      </div>
  </div>
  <div id="main">
      <div class="col-md-12">
      	  <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          <nav>
              <ul class="pager">
                <li class="previous" ng-class="c.hasPrevious() ? '' : 'disabled'"><a ng-click="c.previous()" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li>{{ c.showing().total }} found, showing {{ c.showing().from }} to {{ c.showing().to }}</li>
                <li class="next" ng-class="c.hasNext() ? '' : 'disabled'"><a ng-click="c.next()" href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
          </nav>
          <div class="row" ng-cloak>
              <div class="col-md-12">
                  <div class="media" ng-repeat="comic in c.comics">
                      <div class="media-left">
                          <a href="/comic/{{ comic.id }}/reader" target="_blank"><img class="media-object" ng-src="/comic/{{comic.id}}/thumbnail" /></a>
                      </div>
                      <div class="media-body">
                          <h6 class="media-heading">{{ comic.series }} #{{ comic.issue }} &mdash; <em>{{ comic.title }}</em></h6>
                          <hr />
                          <div>{{ comic.publisher }} ({{ comic.date }}) [{{ comic.page_count }} pages]</div>
                          <small><dl>
                              <dt ng-repeat-start="(credit, persons) in comic.credits">{{ credit }}</dt>
                              <dd ng-repeat-end>{{ (persons | limitTo: 3).join(', ') }}</dd>
                          </dl></small>
                      </div>
                  </div>
              </div>
          </div>
          <nav>
              <ul class="pager">
                <li class="previous" ng-class="c.hasPrevious() ? '' : 'disabled'"><a ng-click="c.previous()" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li>{{ c.showing().total }} found, showing {{ c.showing().from }} to {{ c.showing().to }}</li>
                <li class="next" ng-class="c.hasNext() ? '' : 'disabled'"><a ng-click="c.next()" href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
          </nav>
      </div>
  </div>
</div><!--/row-offcanvas -->

        <script type='text/javascript' src="/static/js/jquery-2.0.2.min.js"></script>
        <script type='text/javascript' src="/static/js/bootstrap-3.0.3.min.js"></script>
        <script type="texT/javascript" src="/static/js/angular-1.3.15.min.js"></script>
        <script type='text/javascript'>
        
            $(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
angular.module("comicstreamer", [])
    .controller("MainCtrl", ['$http', function($http) {
        self = this;

        self.per_page = 10;
        self.offset = 0;
        self.search = "";
        self.comics = [];
        self.total_count = 0;

        self.load = function() {
          params = {
            'keyphrase': self.search,
            'per_page': self.per_page,
            'offset': self.offset
          }
          $http.get('/comiclist', {'params': params}).then(function(response) {
            resp = angular.fromJson(response.data)
            self.comics = resp.comics
            self.total_count = resp.total_count
          });
        };

        self.hasPrevious = function() {
            return self.offset > 0;
        }

        self.previous = function() {
            if(!self.hasPrevious()) {
                return;
            }
            self.offset -= self.per_page;
            self.load();
        }
        self.hasNext = function() {
            return self.offset + self.per_page < self.total_count;
        }
        self.next = function() {
            if(!self.hasNext()) {
                return;
            }
            self.offset += self.per_page;
            self.load();
        }
        self.showing = function() {
            return {
                total: self.total_count,
                from: self.offset + 1,
                to: Math.min(self.offset + self.per_page, self.total_count)
            };
        }

        self.load();

    }] );
        
        </script>
        
        
    </body>
</html>